*
{
    box-sizing: border-box;
}

body
{
    background-color: #f4f4f4;
}

.wrapper
{
    max-width: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
    padding-top:2em;
    margin:auto;
}

.row
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em;
}

@media (max-width: 380px)
{
    .row-break-380
    {
	flex-direction:column;
    }
}

@media (max-width: 500px)
{
    .row-break-500
    {
	flex-direction:column;
    }
}

@media (max-width: 670px)
{
    .row-break-670
    {
	flex-direction: column;
    }
}
.row + .row
{
    margin-top:1em;
}

.title
{
    margin:0;
}

.clear-button
{
    background-color: transparent;
    border:0;
    color: #eb6456;
    height: 2em;
}

.input
{
    flex-grow:1;
    margin-left: 3em;
    margin-right: 1em;
    border: 1px #8bbfb4 solid;
    border-radius: 0.5em;
    padding: 1em;
}

.input::placeholder
{
    color: #8bbfb4;
}

.add-button
{
    background-color: #8bbfb4;
    border: green;
    border-radius: 0.5em;
    padding: 1em 2em;
    color: white;
}

@media (max-width: 760px)
{
    .add-button + .add-button
    {
	margin-top: 10px;
    }
    .input + .add-button
    {
	margin-top: 10px;
    }
}

.tasklist
{
    list-style-type: none;
    width: 100%;
    margin: 0 2em;
    padding: 0;
}

@media(max-width:500px)
{
    .tasklist
    {
	margin: 0;
    }
}

.task
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #f4f4f4;
    border-radius: 0.8em;
    padding: 1em 2em;
    margin-bottom: 1em;
    transition: 1s;
}

@media(max-width: 500px)
{
    .task
    {
	padding: 1em 0;
    }
}

.task-line
{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition: height 2s;
}

@media (max-width: 670px)
{
    .task-line
    {
	flex-direction: column;
    }
}

.task-menu-shown
{
    height: 2.5em;
}

@media (max-width: 670px)
{
    .task-menu-shown
    {
	height: calc(5*2.5em);
    }
}

.task-menu-hidden
{
    height: 0;
}

.menu-button
{
    color: white;
    background-color: #eb6456;
    border-radius: 0.5em;
    padding: 0.5em 0.5em;
}

.task-completed
{
    background-color: #f4f4f4;
    color: #afabb2;
}

.text
{
    overflow: auto;
    overflow-wrap: break-word;
    padding-right: 2em;
}

.date
{
    flex: 0 0 auto;
}

.todoIcon
{
    font-size:1.4em;
    line-height:1.4em;
}

.modalBackground
{
    position: fixed;
    top: 0;
    left:0;
    background: rgba(0,0,0, 0.5);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalWindow
{
    background: white;
    position: relative;
    padding: 1em 0;
    width: 100%;
    margin: 1em;
    max-width:800px;
}

.modalTitle
{
    font-weight:600;
}

.modalClose
{
    color: grey;
    padding: 0 1em;
    text-decoration: none;
}

.modalTextarea
{
    width: 100%;
    height: 5em;
    resize: none;
}
